#side-nav, #map{
    background:'red'
}

#side-nav{
    position: 'absolute'
}

#map{
    position:'absolute'
}

#content{
    position:'absolute';
    left:0;
    right:0;
    bottom:0;
    top:50px;
    background:'blue';
}