<html>
<body>
    {{ residencias_filters }}
    <br>
    {{ residencias_filters|length }}
    <div>
        {% for residencia in residencias_filters %}
            <table>
                <tr>
                    <td>Titulo</td>
                    <td>{{ residencia.title }}</td>
                </tr>
                <tr>
                    <td>Latitud</td>
                    <td>{{ residencia.latitude }}</td>
                </tr>
                <tr>
                    <td>Longitud</td>
                    <td>{{ residencia.longitude }}</td>
                </tr>
            </table>
            </br>
        {% endfor %}
    </div>

    <form action="" method="get">
        <p>
            <STRONG>Tipo de Residencia</STRONG>
            <INPUT TYPE="checkbox" NAME="tipo_residencia" value = "Habitacion" >Habitacion
            <INPUT TYPE="checkbox" NAME="tipo_residencia" value = "Departamento">Departamento
            <INPUT TYPE="checkbox" NAME="tipo_residencia" value = "Casa">Casa
        </p>
        <p>
            <STRONG>Precio</STRONG>
            <p>Desde: <input type="text" name="price_from"></p>
            <p>Hasta: <input type="text" name="price_until"></p>

        </p>
        <p>
            <STRONG>Genero</STRONG>
            <select name = "genero">
            <option value="Masculino y Femenino">Masculino y femenino</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            </select>
        </p>
        <input type="submit" value = "submit">
    </form>
</body>
</html>

