<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="/residencias/utils/uri.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
</head>

<body>

<nav class="top-bar" data-topbar role="navigation" style="z-index:100">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">ResiUni</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul>
            <li class="has-dropdown">
                <a href="#">Institucion</a>
                <ul class="dropdown">
                    {% with = 1 %}
                    {% for institucion in instituciones %}
                    <li class="has-dropdown">
                        <a href="#">{{ institucion.name }}</a>

                    </li>
                    {% endfor %}
                    {% endwith %}
                </ul>
            </li>
        </ul>
    </section>
</nav>

<div id="content" class="row">
    <div id="side-nav">
        <button id="click">click</button>
    </div>
    <div id="map"></div>
</div>

<script src="{% static 'js/foundation/foundation.js' %}"></script>
<script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
<script>
$(document).foundation();

</script>
</body>
</html>